<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soo's Project</title>
</head>
<body>
    <!-- templates/about.html -->
    {% extends "base.html" %}

    {% block content %}
    <h3>About Valentine Website</h3>
    <div>This website is designed to predict whether an individual is going to get a valentine date or not.</div>
    <div>You can simply put some factors and get prediction of your valentine date!</div>
    <div>This prediction model is not very accurate, so don't be disappointed even if your result is not having date XD </div>
    <div>Created by Soo</div>
    {% endblock content %}
</body>
</html>

